#stage {
  height: 300px;
  background-color: #DDD;
  border: 5px dashed gray;
  cursor: pointer;
}
#drag_msg {
  padding-top: 100px;
}
#status {
  display: none;
}
#results .row {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
}
#results .row .img {
  margin-right: 10px;
}
table.rank {
  margin-left: 5px;
}
table.rank tr:first-child td {
  font-weight: bold;
}
table.rank tr td {
  padding: 1px;
}
.name { padding-left: 5px;  }
.reni { border-left: 5px solid purple; }
.kanako { border-left: 5px solid red; }
.shiori { border-left: 5px solid yellow; }
.arin { border-left: 5px solid pink; }
.momoka { border-left: 5px solid green; }

