crawler/*.txt
crawler/*.csv
crawler/*.json
*imgs*
*out_*
**out*
**img
**/*.jpg
**/checkpoint
**/*.ckpt*
**/*.png

**/.Python
**/[Bb]in
**/[Ii]nclude
**/[Ll]ib
**/[Ll]ib64
**/[Ll]ocal
**/[Ss]cripts
**/pyvenv.cfg
**/.venv
**/pip-selfcheck.json
**.pyc
face_detect/bulk
**/*.h5
**/*.mlmodel
