crawler/*.txt
crawler/*.csv
crawler/*.json
*imgs*
*out_*
**out*
**img
**/*.jpg
**/checkpoint
**/*.ckpt*
**/*.png

**/.Python
**/[Bb]in
**/[Ii]nclude
**/[Ll]ib
**/[Ll]ib64
**/[Ll]ocal
**/[Ss]cripts
**/pyvenv.cfg
**/.venv
**/pip-selfcheck.json
**.pyc
face_detect/bulk
**/*.h5
**/*.mlmodel

# Xcode
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
test-reports
*.bk
*.swp
