<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ももクロ画像分類器</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='mcz.css') }}">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ももクロ画像分類器</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://twitter.com/kenmaz">連絡先</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span>機械学習の技術を用いて、入力画像からももクロメンバーの顔を識別します。</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>入力画像</h3>
        <form  id="stage" action="/upload" class="dropzone text-center">
          <h4 id="drag_msg" class="dz-default dz-message">画像をここにドラッグ<br>または<br>ここをタップして画像を指定</h4>
        </form>
        <br>
        <button id="clear" class="btn btn-default" type="button">クリア</button>
      </div>
      <div class="col-md-6">
        <h3>解析結果</h3>
        <div id="status" class="alert alert-info" role="alert"></div>
        <div id="results" class="_container">
        </div>

        <!-- ad -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-7161218111521180"
          data-ad-slot="9524404573"
          data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!-- ad -->

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-right">
          Powered by <a href="https://www.tensorflow.org">TensorFlow</a>
        </div>
        <br>
        <div class="text-right">
          <!-- twitter -->
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="kenmaz">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <!-- twitter -->
        </div>
      </div>
    </div>
  </div><!-- /.container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous">
  </script>
  <script src="{{ url_for('static', filename='dropzone.js') }}"></script>
  <script src="{{ url_for('static', filename='mcz.js') }}"></script>

  <!-- GA -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-184225-16', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- GA -->

</body>
</html>
